
@model List<Book>
@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<h2>List of Books</h2>
@Html.DropDownListFor(x => x.FirstOrDefault().GenreId, (IEnumerable<SelectListItem>)ViewBag.Genres, new { htmlAttributes = new { id = "GenreId" } })

<div id="booksListContainer">
    @{Html.RenderPartial("_BooksList", Model); }
</div>

<div>@Html.ActionLink("Add", "Create", "Books", null, new { @class = "btn btn-primary" })</div>
@section Scripts{
    <script>
    var dropdownElement = $("#GenreId");
    dropdownElement.change(function () {
        var genreId = dropdownElement.val();
        $.get(
            {
                url: '@Url.Action("BooksList")' + '?genreId=' + genreId,
                success: function (data) {
                    $("#booksListContainer").html(data);

                }
            });

    });
    </script>
}
